:root {
    --azul-escuro: #313851;
    --azul-mais-escuro: #1f253e;
    --azul-claro: #c2cbd3;
    --branco: #f6f3ed;
}

.task {
    background-color: var(--azul-mais-escuro);
    border: 1px solid var(--branco);
    border-radius: 10px;
    padding: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 18px;
    position: relative;
}

.circle-task {
    height: 22px;
    width: 22px;
    display: inline-block;
    border: 3px solid var(--branco);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    background-color: var(--azul-mais-escuro);
}

.circle-task.circle-done {
    background-color: var(--branco);
}

.task-done .task-text {
    color: #fff7;
}

.actions {
    position: absolute;
    right: 12px;
    display: flex;
    gap: 8px;
}

.edit-btn, 
.delete-btn {
    background: none;
    border: none;
    color: var(--azul-claro);
    font-size: 1.8rem;
    cursor: pointer;
}

.edit-btn:hover, 
.delete-btn:hover {
    color: var(--branco);
}