:root {
    --azul-escuro: #313851;
    --azul-mais-escuro: #1f253e;

    --azul-claro: #c2cbd3;
    --branco: #f6f3ed;
}
.container {
    max-width: 500px;
    margin: 30px auto;
    background: none;
}

header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 2.2rem;
    margin-bottom: 24px;
    color: white;
}

input[type='checkbox']{
    accent-color: var(--branco);
    width: 30px;
    height: 30px;
}

.logo {
    font-weight: 700;
}

.status-card {
    border: 1px solid var(--branco);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32PX;
    background: none;
}

.status-title {
    font-size: 1.8rem;
}

.status-sub {
    color: #fff8;
}

.circle {
    background-color: var(--branco);
    color: var(--azul-escuro);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
    border: 2px solid #fff4;
}

.add-task label,
.edit-task label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.input-row {
    display: flex;
    gap: 8px;
}

.add-task input ,
.edit-task input {
    background-color: var(--azul--mais-escuro);
    border: 1px solid var(--branco);
    color: var(--azul-claro);
    padding: 12px;
    border-radius: 6px;
    width: 100%;
    font-size: 1.1rem;
}

.add-task button,
.edit-task button {
    background-color: var(--branco);
    color: var(--azul-escuro);
    border: none;
    padding: 0px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task button:hover,
.edit-task button:hover {
    background-color: var(--azul-claro);
}